body {
  background-color:#a5d6fd;
  color: #f58e32;
  font-family: 'Outfit', sans-serif;
  margin:10px;
}


/* or 
body {
  background-color:#4285F4;
  color: #F4B400;
  font-family: 'Outfit', sans-serif;
} */

img {
  height: 150px;
  justify-content: center;
  text-align: center;
 padding-top: 20px;
 padding-right: 100px;
}

h1 {
  justify-content: center;
  text-align: center;
  font-size:80px;
 
}

.header-div{
justify-content: end;
text-align: end;
font-size: 20px;

}

.header-div a {
  justify-content: end;
  font-size: 20px;
  color: #f58e32;
}


nav {
  display: flex;
  justify-content: center;
  height:60px;
  margin:60px auto;
  text-align: center;
  border-radius: 5px;
  background-color:#3390da;
  padding-top: 20px;
}

/* .link-nav {
display: flex;
justify-content: center;
} */ 

li {
  display: inline;
}

a {
  text-decoration: none;
  color:#f58e32;
  font-size: 30px;
  padding:40px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

h2 {
font-size: 30px;
text-align: center;
padding-top: 5px;
padding-bottom: 20px;

}
.radio-btn1 {
  justify-content: left;
  border-radius: 10px;
  background-color:#e6b687;
  color: white;
  width: 600px;
  height: 200px;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 20px;

}

.radio-btn2 {
background-color: #e6b687;
color: white;
border-radius: 10px;
width: 600px;
height: 200px;
padding: 10px;
margin-bottom: 25px;
font-size: 20px;

}


.radio-btn3 {
background-color: #e6b687;
color: white;
border-radius: 10px;
width: 600px;
height: 200px;
padding: 10px;
margin-bottom: 25px;
font-size: 20px;

}
.radio-btn:hover {
border-color: black;
}

#btn{
  margin-left: 590px;
  background-color:#3390da;
  color: white;
  padding: 15px;
  font-size: 20px;
}

footer{
  text-align: center;
}